body{background-color: whitesmoke;} 

h1 {font-style: italic;
    color: blue;
}

h2 {font-style: italic;
    color: blue;
}

label {font-style: italic;
       color:blue;
       font-size: medium;   
}

input{font-style: italic;
      color: blue;
}